Code
Kvantum
Postman
Thunar
VirtualBox
VisualParadigm
btop
cat_installer
cava
dconf
fastfetch
github-copilot
gtk-3.0
gtk-4.0
lazydocker
obs-studio
lazygit
mcphub
menus
nwg-look
opencode
pulse
qalculate
qt5ct
qt6ct
qtvirtualkeyboard
quickshell
swappy
swaync
systemd
wallust
wlogout
xfce4
xsettingsd
yay
yazi
QtProject.conf
xarchiver
mimeapps.lis
pavucontrol.ini
