* {
  font-family: "JetBrainsMono Nerd Font Propo", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  transition: background-color .3s ease, color .3s ease;
}

window#waybar {
  background: none;
  color: #cdd6f4;
  /* text */
  font-family: "SpaceMono Nerd Font", feather;
  transition: background-color .5s ease;
}

/* Contenedores */
.modules-left,
.modules-center,
.modules-right {
  background: rgba(30, 30, 46, 0.7);
  /* base con transparencia */
  margin: 5px 10px;
  padding: 0 8px;
  border-radius: 12px;
  border: 1px solid #313244;
  /* surface0 */
}

/* Ajustes específicos */
.modules-left {
  padding: 0;
}

.modules-center {
  padding: 0 12px;
}

/* Módulos */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
  padding: 0 10px;
  border-radius: 10px;
  color: #cdd6f4;
  /* text */
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
  background: #313244;
  /* surface0 */
  color: #f5e0dc;
  /* rosewater */
}

/* Workspaces */
#workspaces button {
  background: transparent;
  font-family: "SpaceMono Nerd Font", feather;
  font-weight: 900;
  font-size: 13pt;
  color: #a6adc8;
  /* subtext0 */
  border: none;
  border-radius: 10px;
  margin: 0 3px;
  padding: 2px 10px;
}

#workspaces button.active {
  background: #45475a;
  /* surface1 */
  color: #cdd6f4;
  /* text */
}

#workspaces button:hover {
  background: #313244;
  /* surface0 */
  color: #f5c2e7;
  /* pink */
  box-shadow: none;
}

/* Custom Arch Logo */
#custom-arch {
  margin-left: 5px;
  padding: 0 10px;
  font-size: 22px;
  /* color: #89b4fa; */
  /* transition: color .3s; */
}

#custom-arch:hover {
  color: #74c7ec;
  /* sapphire */
}
